$backgroundColor: #0d0c0c;
$bodyColor: #e5e5e5;
$hover1: #dd2020;
$bodyFont: 'Spartan', sans-serif;
$transition: all .5s ease;

* {
  margin: 0;
}
html {
  overflow-x: hidden;
}
body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
body a, #site-footer a {
  color: #a5a2a2;
  text-decoration: none;
  transition: $transition;
}
body a:hover, #site-footer a:hover {
  color: $hover1;
  text-decoration: none;
}
main.page-content {
  flex: 1 0 auto;
}

/* NAV */
#full-nav {
  position: fixed;
  display: block;
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  background-color: rgba(0, 0, 0, .9);
  right: -100vw;
}
#full-nav-ul {
  position: relative;
  width: 50vw;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
}
#full-nav-ul li {
  font-size: 5rem;
  padding: 10px;
}
#full-nav-ul li a {
  text-decoration: none;
  color: $bodyColor;
  backface-visibility: hidden;
}
#full-nav-ul li a:hover {
  color: $hover1;
  font-size: larger;
}
#full-nav-ul li a:hover::after {
  content: ' \00BB';
}
#full-nav-close i, #full-nav-open i {
  transition: $transition;
  backface-visibility: hidden;
}
#full-nav-close i:hover, #full-nav-open i:hover {
  color: $hover1;
  transform: scale(1.1);
}
#full-nav-close, #full-nav-open {
  position: absolute;
  right: 0;
  padding: 30px;
  color: #e5e5e5;
  cursor: pointer;
}

/* FOOTER */
footer.site-footer {
  background: #252424;
  padding: 7px;
  flex-shrink: 0;
}
footer.site-footer ul li {
  background: #252424;
  border-style: none;
}
